<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Products &#8211; Alamaison Home</title>
	<atom:link href="http://alamaison-home.com/product/feed/" rel="self" type="application/rss+xml" />
	<link>http://alamaison-home.com</link>
	<description>We make a home not a house</description>
	<lastBuildDate>Sun, 28 Aug 2022 07:12:13 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>Đèn mây trần</title>
		<link>http://alamaison-home.com/collection/source/den-may-tran/</link>
					<comments>http://alamaison-home.com/collection/source/den-may-tran/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 04:19:53 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=655</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/den-may-tran/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Bình phong đỏ</title>
		<link>http://alamaison-home.com/collection/source/binh-phong-do/</link>
					<comments>http://alamaison-home.com/collection/source/binh-phong-do/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 04:16:50 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=653</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/binh-phong-do/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Bàn rổ</title>
		<link>http://alamaison-home.com/collection/source/ban-ro/</link>
					<comments>http://alamaison-home.com/collection/source/ban-ro/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 04:14:59 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=651</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/ban-ro/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn cà kheo</title>
		<link>http://alamaison-home.com/collection/source/den-ca-kheo/</link>
					<comments>http://alamaison-home.com/collection/source/den-ca-kheo/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:31:01 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=207</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>Hand-held stilts (“Cà kheo” in Vietnamese) are the living commodity of coastal fishermen. Long ago, the Red River Delta in North Vietnam were marshy areas. People there without boats had to use those hand-held stilts to walk along the coast for fish and seafood catching. Our product of “Cà kheo” creates a simply but beautiful knot in the middle. A la maison cherishes the idea that “plain is the quintessential” to make a well applicative product like “Cà kheo.&#8221; Additionally, we add some sense of traditional materials to honor aesthetic values in the product.</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/den-ca-kheo/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Ô ăn quan set</title>
		<link>http://alamaison-home.com/collection/subconscious/o-an-quan-set/</link>
					<comments>http://alamaison-home.com/collection/subconscious/o-an-quan-set/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:27:21 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=197</guid>

					<description><![CDATA[<strong>Tivi shelf</strong>

Dimension/ kích thước : 40 * 37,5 * 122

Material/ chất liệu :  MDF with Lacquer, Hand mount brass

<strong>Bed tab</strong>

Dimension/ kích thước : 32 * 65 * 100

Material/ chất liệu : Wanut/Oak,Bamboo and Rattan, Handicraft

&#160;]]></description>
										<content:encoded><![CDATA[<p>Inspired of chalk lines on the ground in a popular traditional game,&#8221;Ô ăn Quan.&#8221; A la maison names our cabinet after this game. This Cabinet uses lacquer, natural wood, and stones, to create the delicacy of the cabinet&#8217;s surface. Both tradition and modernity are cherished in this &#8220;Ô ăn Quan&#8221; Cabinet, showing us the Vietnamese simple but lovely rural picture in your home.</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/subconscious/o-an-quan-set/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Võng</title>
		<link>http://alamaison-home.com/collection/core/vong/</link>
					<comments>http://alamaison-home.com/collection/core/vong/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:20:05 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=188</guid>

					<description><![CDATA[Dimension/ kích thước : 90 * 110 * 301

Material/ chất liệu : Hand mount brass, Wanut/Oak

&#160;]]></description>
										<content:encoded><![CDATA[<p>RHYTHM &#8211; The rhythm of the musical nature, the rhythm of relaxation, the rhythm of life. RHYTHM &#8211; A Vietnamese hammock version which harmoniously combines the natural materials of wood and a special traditional kind of copper . The soft pattern of mesh knitting gently embraces your whole body to bring tranquility to enjoy life.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/vong/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Grace set</title>
		<link>http://alamaison-home.com/collection/core/grace-set/</link>
					<comments>http://alamaison-home.com/collection/core/grace-set/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:16:30 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=178</guid>

					<description><![CDATA[<strong>Bàn Grace</strong>

Dimension/ kích thước : 98,3 * 76,5 * 220

Material/ chất liệu : Hand mount brass, Wanut/Oak

<strong>Ghế Grace</strong>

Dimension/ kích thước : 50 * 67.2 * 55

Material/ chất liệu : Hand mount brass, Wanut/Oak

<strong>Giường Grace</strong>

Dimension/ kích thước : 220 * 40,5 * 22,5

Material/ chất liệu : Hand mount brass, Wanut/Oak

&#160;]]></description>
										<content:encoded><![CDATA[<p>Inspired by morning dews, we create GRACE SET which has stylized hairpins with a dew on one end. These hairpins used to hold the elegance of traditional Vietnamese women. Made from natural wood, Morning Dew Grace set characterize the beauty of nature as well as the beauty of humans.In the early morning, she sit in GRACE chair, knitting clothes for the family whille fully embracing the beauty in everything. Fragrances of all the flowers in the air, she take a sip of her hot tea, fully living her life…</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/grace-set/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn morning dew</title>
		<link>http://alamaison-home.com/collection/core/den-morning-dew/</link>
					<comments>http://alamaison-home.com/collection/core/den-morning-dew/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:13:33 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=172</guid>

					<description><![CDATA[Dimension/ kích thước : 26,6 * 14,48 * 10,38

Material/ chất liệu : Hand mount brass, Glass

&#160;

&#160;]]></description>
										<content:encoded><![CDATA[<p>MORNING DEW embraces her beauty in a fine morning with a carefully embroidered rugs, some sweet snacks and a book not yet finished flapping it wings in the wind. What a scene that anyone would die to emerge in&#8230; MORNING DEW&#8217;s lampshade resembles the pure beauty of a morning dew, and body of the lamp is the tree branch made with copper, can be rotated 360 degrees.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/den-morning-dew/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn chít</title>
		<link>http://alamaison-home.com/collection/core/den-chit/</link>
					<comments>http://alamaison-home.com/collection/core/den-chit/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Mon, 22 Jun 2020 03:30:05 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=76</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. - short

&#160;]]></description>
										<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/den-chit/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn dawn</title>
		<link>http://alamaison-home.com/collection/core/den-dawn/</link>
					<comments>http://alamaison-home.com/collection/core/den-dawn/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Mon, 22 Jun 2020 03:18:42 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=74</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. - short

&#160;]]></description>
										<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/den-dawn/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
