<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Public &#8211; Alamaison Home</title>
	<atom:link href="http://alamaison-home.com/portfolio-types/public/feed/" rel="self" type="application/rss+xml" />
	<link>http://alamaison-home.com</link>
	<description>We make a home not a house</description>
	<lastBuildDate>Wed, 10 Mar 2021 07:41:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>Mandala Hotel</title>
		<link>http://alamaison-home.com/portfolio-item/mandala-hotel/</link>
					<comments>http://alamaison-home.com/portfolio-item/mandala-hotel/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 04:18:24 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=295</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/mandala-hotel/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Demen</title>
		<link>http://alamaison-home.com/portfolio-item/demen/</link>
					<comments>http://alamaison-home.com/portfolio-item/demen/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 04:11:54 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=289</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/demen/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>À Sudio concept</title>
		<link>http://alamaison-home.com/portfolio-item/a-sudio-concept/</link>
					<comments>http://alamaison-home.com/portfolio-item/a-sudio-concept/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:18:28 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=31</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/a-sudio-concept/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Bagian &#8211; A walk to remember</title>
		<link>http://alamaison-home.com/portfolio-item/bagian-a-walk-to-remember/</link>
					<comments>http://alamaison-home.com/portfolio-item/bagian-a-walk-to-remember/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:18:03 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=30</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/bagian-a-walk-to-remember/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Mcc &#8211; Wake up on the terrace</title>
		<link>http://alamaison-home.com/portfolio-item/mcc-wake-up-on-the-terrace/</link>
					<comments>http://alamaison-home.com/portfolio-item/mcc-wake-up-on-the-terrace/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:17:47 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=29</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/mcc-wake-up-on-the-terrace/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Sequio &#8211; Oneday</title>
		<link>http://alamaison-home.com/portfolio-item/sequio-oneday/</link>
					<comments>http://alamaison-home.com/portfolio-item/sequio-oneday/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:17:20 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=28</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/sequio-oneday/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Trà tuệ &#8211; To walk invisible</title>
		<link>http://alamaison-home.com/portfolio-item/tra-tue-to-walk-invisible/</link>
					<comments>http://alamaison-home.com/portfolio-item/tra-tue-to-walk-invisible/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:16:42 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=25</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/tra-tue-to-walk-invisible/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
