<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>SOURCE &#8211; Alamaison Home</title>
	<atom:link href="http://alamaison-home.com/collection-products/source/feed/" rel="self" type="application/rss+xml" />
	<link>http://alamaison-home.com</link>
	<description>We make a home not a house</description>
	<lastBuildDate>Sun, 28 Aug 2022 07:12:13 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>Đèn mây trần</title>
		<link>http://alamaison-home.com/collection/source/den-may-tran/</link>
					<comments>http://alamaison-home.com/collection/source/den-may-tran/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 04:19:53 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=655</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/den-may-tran/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Bình phong đỏ</title>
		<link>http://alamaison-home.com/collection/source/binh-phong-do/</link>
					<comments>http://alamaison-home.com/collection/source/binh-phong-do/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 04:16:50 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=653</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/binh-phong-do/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Bàn rổ</title>
		<link>http://alamaison-home.com/collection/source/ban-ro/</link>
					<comments>http://alamaison-home.com/collection/source/ban-ro/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 04:14:59 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=651</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/ban-ro/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn cà kheo</title>
		<link>http://alamaison-home.com/collection/source/den-ca-kheo/</link>
					<comments>http://alamaison-home.com/collection/source/den-ca-kheo/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:31:01 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=207</guid>

					<description><![CDATA[<strong>Đèn cà kheo </strong>

Dimension/ kích thước : 16 * 120 * 34

Material/ chất liệu : Bamboo and Rattan Handicraft, Hand mount brass

<strong>Tủ cà kheo </strong>

Dimension/ kích thước : 30 * 77 * 86

Material/ chất liệu : Lacquer, Bamboo, Hand mount brass

&#160;]]></description>
										<content:encoded><![CDATA[<p>Hand-held stilts (“Cà kheo” in Vietnamese) are the living commodity of coastal fishermen. Long ago, the Red River Delta in North Vietnam were marshy areas. People there without boats had to use those hand-held stilts to walk along the coast for fish and seafood catching. Our product of “Cà kheo” creates a simply but beautiful knot in the middle. A la maison cherishes the idea that “plain is the quintessential” to make a well applicative product like “Cà kheo.&#8221; Additionally, we add some sense of traditional materials to honor aesthetic values in the product.</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/source/den-ca-kheo/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
