<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Housing &#8211; Alamaison Home</title>
	<atom:link href="http://alamaison-home.com/portfolio-types/housing/feed/" rel="self" type="application/rss+xml" />
	<link>http://alamaison-home.com</link>
	<description>We make a home not a house</description>
	<lastBuildDate>Wed, 10 Mar 2021 07:27:24 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>Re &#038; La</title>
		<link>http://alamaison-home.com/portfolio-item/re-la/</link>
					<comments>http://alamaison-home.com/portfolio-item/re-la/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 03:54:41 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=277</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/re-la/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Jumping &#8211; Out</title>
		<link>http://alamaison-home.com/portfolio-item/jumping-out/</link>
					<comments>http://alamaison-home.com/portfolio-item/jumping-out/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 03:48:28 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=271</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/jumping-out/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>In White &#8211; Deli</title>
		<link>http://alamaison-home.com/portfolio-item/in-white-deli/</link>
					<comments>http://alamaison-home.com/portfolio-item/in-white-deli/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 03:43:57 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=265</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/in-white-deli/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Carré</title>
		<link>http://alamaison-home.com/portfolio-item/carre/</link>
					<comments>http://alamaison-home.com/portfolio-item/carre/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 03:33:04 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=259</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/carre/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Se Réunir</title>
		<link>http://alamaison-home.com/portfolio-item/se-reunir/</link>
					<comments>http://alamaison-home.com/portfolio-item/se-reunir/#respond</comments>
		
		<dc:creator><![CDATA[Nguyễn Anh]]></dc:creator>
		<pubDate>Mon, 24 Aug 2020 03:23:06 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=portfolio&#038;p=253</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/se-reunir/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Mr. Chinh &#8211; L&#8217; espace des rêves</title>
		<link>http://alamaison-home.com/portfolio-item/mr-chinh-l-espace-des-reves/</link>
					<comments>http://alamaison-home.com/portfolio-item/mr-chinh-l-espace-des-reves/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:21:13 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=33</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/mr-chinh-l-espace-des-reves/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Nest</title>
		<link>http://alamaison-home.com/portfolio-item/nest/</link>
					<comments>http://alamaison-home.com/portfolio-item/nest/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Wed, 20 Jun 2018 10:19:00 +0000</pubDate>
				<guid isPermaLink="false">http://themes.muffingroup.com/be/interior3/?post_type=portfolio&#038;p=32</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/portfolio-item/nest/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
