<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>CORE &#8211; Alamaison Home</title>
	<atom:link href="http://alamaison-home.com/collection-products/core/feed/" rel="self" type="application/rss+xml" />
	<link>http://alamaison-home.com</link>
	<description>We make a home not a house</description>
	<lastBuildDate>Wed, 10 Mar 2021 04:12:25 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9.5</generator>
	<item>
		<title>Võng</title>
		<link>http://alamaison-home.com/collection/core/vong/</link>
					<comments>http://alamaison-home.com/collection/core/vong/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:20:05 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=188</guid>

					<description><![CDATA[Dimension/ kích thước : 90 * 110 * 301

Material/ chất liệu : Hand mount brass, Wanut/Oak

&#160;]]></description>
										<content:encoded><![CDATA[<p>RHYTHM &#8211; The rhythm of the musical nature, the rhythm of relaxation, the rhythm of life. RHYTHM &#8211; A Vietnamese hammock version which harmoniously combines the natural materials of wood and a special traditional kind of copper . The soft pattern of mesh knitting gently embraces your whole body to bring tranquility to enjoy life.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/vong/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Grace set</title>
		<link>http://alamaison-home.com/collection/core/grace-set/</link>
					<comments>http://alamaison-home.com/collection/core/grace-set/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:16:30 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=178</guid>

					<description><![CDATA[<strong>Bàn Grace</strong>

Dimension/ kích thước : 98,3 * 76,5 * 220

Material/ chất liệu : Hand mount brass, Wanut/Oak

<strong>Ghế Grace</strong>

Dimension/ kích thước : 50 * 67.2 * 55

Material/ chất liệu : Hand mount brass, Wanut/Oak

<strong>Giường Grace</strong>

Dimension/ kích thước : 220 * 40,5 * 22,5

Material/ chất liệu : Hand mount brass, Wanut/Oak

&#160;]]></description>
										<content:encoded><![CDATA[<p>Inspired by morning dews, we create GRACE SET which has stylized hairpins with a dew on one end. These hairpins used to hold the elegance of traditional Vietnamese women. Made from natural wood, Morning Dew Grace set characterize the beauty of nature as well as the beauty of humans.In the early morning, she sit in GRACE chair, knitting clothes for the family whille fully embracing the beauty in everything. Fragrances of all the flowers in the air, she take a sip of her hot tea, fully living her life…</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/grace-set/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn morning dew</title>
		<link>http://alamaison-home.com/collection/core/den-morning-dew/</link>
					<comments>http://alamaison-home.com/collection/core/den-morning-dew/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Thu, 02 Jul 2020 07:13:33 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=172</guid>

					<description><![CDATA[Dimension/ kích thước : 26,6 * 14,48 * 10,38

Material/ chất liệu : Hand mount brass, Glass

&#160;

&#160;]]></description>
										<content:encoded><![CDATA[<p>MORNING DEW embraces her beauty in a fine morning with a carefully embroidered rugs, some sweet snacks and a book not yet finished flapping it wings in the wind. What a scene that anyone would die to emerge in&#8230; MORNING DEW&#8217;s lampshade resembles the pure beauty of a morning dew, and body of the lamp is the tree branch made with copper, can be rotated 360 degrees.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/den-morning-dew/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn chít</title>
		<link>http://alamaison-home.com/collection/core/den-chit/</link>
					<comments>http://alamaison-home.com/collection/core/den-chit/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Mon, 22 Jun 2020 03:30:05 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=76</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. - short

&#160;]]></description>
										<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/den-chit/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn dawn</title>
		<link>http://alamaison-home.com/collection/core/den-dawn/</link>
					<comments>http://alamaison-home.com/collection/core/den-dawn/#respond</comments>
		
		<dc:creator><![CDATA[NS1QwxWfSX]]></dc:creator>
		<pubDate>Mon, 22 Jun 2020 03:18:42 +0000</pubDate>
				<guid isPermaLink="false">http://alamaison-home.com/?post_type=product&#038;p=74</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. - short

&#160;]]></description>
										<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>http://alamaison-home.com/collection/core/den-dawn/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
